<div class="container bounce animated" style="min-height: 38rem;">
    <div class="card shadow-lg o-hidden border-0 my-5" style="min-height: 38rem;">
        <div class="card-body p-0" style="min-height: 38rem;">
            <div class="row" style="min-height: 38rem;">
                <div class="col-lg-5 d-none d-lg-flex" style="min-height: 38rem;">
                    <div class="flex-grow-1 bg-register-image" style="background: url(&quot;https://img.freepik.com/fotos-gratis/vista-frontal-da-mulher-segurando-contrato-e-dando-polegares-para-cima_23-2148507777.jpg?t=st=1730264612~exp=1730268212~hmac=d6ee17bd0696923721575cd07f2eb50338af38bc5fc13ea3bfaa1336cfee1968&amp;w=360&quot;);background-size: cover;height: auto;min-height: 38rem;"></div>
                </div>
                <div class="col-lg-7" style="min-height: 38rem;">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4"><span style="color: rgb(58, 59, 69);">Candidate-se na Pegho!</span></h4>
                        </div>
                        <hr>
                        <div>
                            <form class="user">
                                <app-apply-form></app-apply-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>